* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: black;
	background-color: white;
  }
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
  }
  
  li:not(:first-child) {
	height: 100px;
  }
  
  img {
	height: 100%;
  }
  