body {
	height: 300vh;
}



dialog {
	will-change: transform;
	padding: 0;
}

dialog[open] {
	animation: show-dialog 200ms ease-out;
}

dialog.is-closing {
	animation: hide-dialog 200ms ease-in;
}



dialog::backdrop {
	background-color: hsl(0 0% 0% / 0.3);
	backdrop-filter: blur(3px);
}

dialog[open]::backdrop {
	animation: show-backdrop 200ms ease-out;
}

dialog.is-closing::backdrop {
	animation: hide-backdrop 200ms ease-in;
}



@keyframes show-dialog {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hide-dialog {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	35% {
		transform: scale(1.08);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}


@keyframes show-backdrop {
	from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes hide-backdrop {
    to { opacity: 0; }
}
