dialog {
	--transition-time: 0.2s;
	--transition-timing-function: ease-out;

	transition: 
		display var(--transition-time) allow-discrete, 
		overlay var(--transition-time) allow-discrete, 
		opacity var(--transition-time),
		translate var(--transition-time);
	transition-timing-function: var(--transition-timing-function);
	opacity: 0;
	translate: 0 20px;
}

dialog[open] {
	opacity: 1;
	translate: 0 0;
}

@starting-style {
	dialog[open] {
		opacity: 0;
		translate: 0 20px;
	}
}


::backdrop {
	transition: 
		display var(--transition-time) allow-discrete, 
		opacity var(--transition-time),
		backdrop-filter var(--transition-time);
	transition-timing-function: var(--transition-timing-function);
	background-color: hsl(0 0% 0% / 0.3);
	opacity: 0;
	backdrop-filter: blur(0);
}

[open]::backdrop {
	opacity: 1;
	backdrop-filter: blur(3px);
}

@starting-style {
	[open]::backdrop {
		opacity: 0;
		backdrop-filter: blur(0);
	}
}


