.Carousel {
	display: flex;
	gap: 2rem;
	scroll-snap-type: x mandatory;
	width: 100vw;
	overflow: scroll;
	scroll-behavior: smooth;
	list-style: none;
	margin: 0;
	padding: 0;
}

.Carousel li {
	background-color: bisque;
	height: 300px;
	min-width: 80vw;
	border-radius: 10px;
	border: 2px solid black;
	scroll-snap-align: center;
	transition: background-color 400ms;
}

.Carousel li.is-active {
	background-color: lightcoral;
}


#indicators button.is-active {
	background-color: lightcoral;
}
