.marquee {
	display: block;
	overflow: hidden;
	user-select: none;
	position: relative;
}

.marquee-slider {
	display: inline-flex;
	flex-wrap: nowrap;
	animation-name: marquee;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	animation-duration: var(--marquee-animation-duration);
}

@media (prefers-reduced-motion: reduce) {
	.marquee-slider {
	  animation: none !important;
	}
}

.marquee-slider > * {
	display: inline-block;
	flex-shrink: 0;
	font-size: 3rem;
}

@keyframes marquee {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(var(--marquee-translateX));
	}
}

/* Pause on hover */
/* .marquee:hover > * {
	animation-play-state: paused !important;
} */
